@import '../../scss/mixins';
@import '../../scss/variables';

#billingAddressForm {

    .billingAddressContainer {
        display: grid;
        grid-template-columns: 20vw 35vw;
        margin-bottom: 1vh;
    
        label {
            &::after {
                float: right;
                padding-right: 1vw;
                content: ':';
            }
        }

        input {
            border-radius: 5px;
            border: $border;
        }
    }

    button {
        margin-top: 5vh;
        @include button();
    }
}

