@import '../../scss/mixins';
@import '../../scss/variables';

#invoicesList {
    margin-top: 50px;
    margin-left: 5vw;
    margin-bottom: 100px;
    width: 80%;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
        border-top: 1px solid black;
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    input {
        @include button();
    }
}

#invoiceForm {
    margin-bottom: 100px;
}