@import '../../../../scss/mixins';
@import '../../../../scss/variables';

#invoiceForm {
    margin-bottom: 100px;

    .invoiceContainer {
        display: grid;
        grid-template-columns: 20vw 20vw;
        margin-bottom: 1vh;

        label {
            &::after {
                float: right;
                padding-right: 1vw;
                content: ':';
            }
        }

        div input {
            width: 3.5vw;
        }
    
        input, select {
            border-radius: 5px;
            border: $border;
        }
    }

    button {
        margin-top: 5vh;
        @include button();
    }
}


