#invoicesListLetter {

    border-collapse: collapse;
    margin: 2.5vh 0;

    th, td {
        border: 0.5px solid black;
        margin: 0;
        padding: 0.5vh 1.5vw;
        text-align: center;
    }
}