@import '../../scss/variables';

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    background-color: $primary-background-color;
    color: $primary-font-color;

    div {
        position: fixed;
        width: 150px;
        margin: 10px 5vw;
        z-index: 200;

        img {
            width: 100%;
        }
    }

    span {
        float: right;
        padding-right: 10vw;
        padding-top: 40px;
        font-size: 120%;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}