@import '../../scss/animations';
@import '../../scss/variables';

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: $primary-background-color;
    color: $primary-font-color;

    div {
        position: fixed;
        width: 150px;
        margin: 10px 5vw;
        z-index: 200;

        img {
            width: 100%;
        }
    }

    span {
        float: right;
        padding: 7.5px 1.5vw 5px;
        margin-right: 5vw;
        margin-top: 40px;
        font-size: 120%;
        transition: all 0.25s;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            background-color: lighten($primary-background-color, 20%);
            border-radius: 0.5rem;
        }

        &:hover div {
            cursor: pointer;
            display: block;
            animation: fade-in 0.25s;
        }

        div {

            margin: 0;
            display: none;

            .dropdownMenu {
                border: $border;
                border-radius: 10px;
                background-color: $primary-background-color;
                color: $primary-font-color;
                list-style: none;
                margin: 1vh 0;
                padding: 1vh 0;

                li {
                    margin: 0 auto;
                    padding: 1vh 1rem;
                    transition: all 0.25s;

                    &:hover {
                        cursor: pointer;
                        background-color: lighten($primary-background-color, 20%);
                    }
                }
            }
        }
    }
}


