@import '../../scss/variables';

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    background-color: $primary-background-color;
    color: $primary-font-color;

    div {
        position: fixed;
        width: 150px;
        margin: 10px 5vw;
        z-index: 200;

        img {
            width: 100%;
        }
    }

    span {
        float: right;
        padding-right: 10vw;
        padding-top: 40px;
        font-size: 120%;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        div {

            margin: 1vh 0;

            .dropdownMenu {
                border: $border;
                background-color: $primary-background-color;
                color: $primary-font-color;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 auto;
                    padding: 0.5vh 1.5vw;
                    transition: all 0.25s;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        background-color: lighten($primary-background-color, 20%);
                    }
                }
            }
        }
    }
}


