@import '../scss/variables';
@import '../scss/mixins';

.userForm {
    @include userForm(350px, 100px, 250px, 250px);
    @include invalid();
}


a {
    text-decoration: none;
    color: $primary-font-color;

    &:hover {
        text-decoration: underline;
    }
}
