@import '../../../scss/variables';

$darker: darken($invalid-color, 40%);

#billingAddressErrorMessage {

    background-color: $invalid-color;
    color: $darker;
    border: 1px solid $darker;
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 5vh;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    
    button {
        float: right;
        background-color: transparent;
        color: darker;
        border: 1.5px solid $darker;
        border-radius: 5px;

        &:hover {
            background-color: $darker;
            cursor: pointer;
        }
    }

    p, h4 {
        margin: 0;
    }

    h4 {
        padding-bottom: 2vh;
    }

    p {
        padding-left: 1vw;
    }
}