@import '../../../scss/animations';
@import '../../../scss/mixins';
@import '../../../scss/variables';

#billingAddressErrorMessage {

    @include warningPopMessage(2vh, 2vh, 2vh, 2vh);
    top: 25%;
    left: 25%;

    h4 {
        padding-bottom: 2vh;
    }

    p {
        padding-left: 1vw;
    }
}

