@import '../scss/variables';
@import '../scss/mixins';

.userForm {
    @include userForm(400px, 0, 0, 275px);
    @include invalid();

    input {
        margin-top: 10px;
        border-radius: 5px;
        border: none;
    }

    button {
        width: 125px;
    }
}