@import '../scss/variables';
@import '../scss/mixins';

#login {
    
    background-color: $primary-background-color;
    color: $primary-font-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 30px;

    .loginInput {
        display: grid;
        grid-template-columns: 100px 250px;
        padding: 8px 0px;

        input {
            border-radius: 5px;
            border: none;
        }
    }

    .loginButton {
        padding-top: 15px;
        display: grid;
        grid-template-columns: 250px 100px;

        button {
            @include button();
        }
    }
}
