$primary-background-color: #0d172a;
$primary-font-color: white;
$alternate-font-color: #0d172a;
$border: 1px solid $primary-background-color;

$primary-button-color: white;
$alternate-button-color: #173160;

$invalid-color: rgb(239, 144, 144);
