@import '../../../scss/mixins';
@import '../../../scss/variables';

#invoiceForm {
    margin-bottom: 100px;

    .invoiceContainer {
        display: grid;
        grid-template-columns: 20vw 20vw 1fr;
        margin-bottom: 1vh;

        label {
            &::after {
                float: right;
                padding-right: 1vw;
                content: ':';
            }
        }

        div input {
            width: 8.5vw;
        }
    
        input, select {
            border-radius: 5px;
            border: $border;
        }

        p {
            margin: 0;
            padding-left: 1vw;
            color: darken($invalid-color, 20%);
        }
    }

    button {
        margin-top: 3vh;
        @include button();
    }
}


